.channel {
    background-color: #ddd;
}

.channel__imageContainer {
    height: 14vw;
    background-image: url(../images/earth.jpg);
    background-size: cover;
    background-position: center;
}

.channel__wrapper {
    padding: 16px 90px 5px;
}

.channel__details {
    max-width: 1284px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {

    .channel__wrapper {
        max-width: 430px;
        padding: 0;
        margin: 0 auto;
    }

    .channel__details {
        padding: 24px 20px;
        width: 100%;
    }

    .channel__avatar {
        display: none;
    }
}

.channel__avatar {
    border-radius: 50%;
    margin-right: 20px;
}

.channel__title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.channel__name {
    font-size: 20px;
    font-weight: 700;
}

.channel__subscription {
    font-size: 14px;
    margin-top: 5px;
}

.channel__subscribeButton {
    padding: 10px 16px;
    border: none;
    background-color: rgb(216, 25, 25);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}


.channel__navigation {
    flex-grow: 1;
    margin: 0 auto;
}

.channel__list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.channel__link {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    font-size: 14px;
}

@media (max-width: 1200px) {
    .channel__link {
        padding: 0 20px;
    }
}

.channel__link--active {
    border-bottom: 3px solid #555;
}

.channel__link--search {
    border: none;
    background-color: transparent;
}

.channel__arrowButton {
    border: none;
    background-color: transparent;
    color: #555;
    font-size: 20px;
}

.channel__item--hide {
    display: none;
}