.channel {
    background-color: #ddd;
}

.channel__imageContainer {
    height: 14vw;
    background-image: url(../images/earth.jpg);
    background-size: cover;
    background-position: center;
}

.channel__wrapper {
    padding: 16px 110px 5px;
}

.channel__details {
    max-width: 1284px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.channel__avatar {
    border-radius: 50%;
    margin-right: 20px;
}

.channel__title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.channel__name {
    font-size: 20px;
    font-weight: 700;
}

.channel__subscription {
    font-size: 14px;
    margin-top: 5px;
}

.channel__subscribeButton {
    padding: 10px 16px;
    border: none;
    background-color: rgb(216, 25, 25);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
