.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    height: 56px;
    background-color: #fff;
}

.navigation__container {
    display: flex;
    flex-shrink: 0;
    align-self: center;
    align-items: center;
    height: 40px;
}

.navigation__menu {
    margin-right: 20px;
}

@media (max-width: 767px) {
    .navigation__menu {
        margin-right: 10px;
    }
}

.navigation__mainLogo {
    display: flex;
    align-items: center;
    margin: 0;
}

.navigation__mainLink {
    display: flex;
}

.navigation__country {
    font-size: 10px;
    align-self: flex-start;
    margin-left: 2px;
}

@media (max-width: 450px) {
    .navigation__country {
        display: none;
    }
}

.navigation__searchBox {
    display: flex;
    align-self: center;
    align-items: center;
    width: 640px;
    height: 40px;
    margin:  0 40px
}

@media (max-width: 767px) {
    .navigation__searchBox {
        display: none;
    }
}

.navigation__input {
    flex-grow: 1;
    max-width: 575px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

.navigation__searchButton {
    flex-shrink: 0;
    height: 30px;
    width: 65px;
    border: 1px solid #ccc;
    border-left: none;
    color: #555;
}

.navigation__unorderedList {
    display: flex;
    flex-basis: 225px;
    flex-shrink: 0;
    align-self: center;
    justify-content: space-between;
    height: 40px; 
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 450px) {
    .navigation__unorderedList {
        flex-basis: 80px;
    }
}

.navigation__item {
    display: flex;
    align-items: center;
}

.navigation__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navigation__item--hideSearch {
    display: none;
}

@media (max-width: 767px) {
    .navigation__item--hideSearch {
        display: flex;
    }
}

@media (max-width: 450px) { 
    .navigation__item--hideVideo, 
    .navigation__item--hideGrid,
    .navigation__item--hideBell {
        display: none;
    }
}

.navigation__icon {
  font-size: 18px;
  color: #555;
}

.navigation__userAvatar {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #555;
    border-radius: 50%;
}